body {
    margin: 0;
    font-family: "Segoe UI Light";
}

.top-container {
    background;
    padding: 16px;
    text-align: center;
}

.header {
    padding: 0.4px 16px;
    background: #209585;
    color: #f1f1f1;
    z-index: +10;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #209585;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.content {
    padding: 16px;
    background: #E1E1E1;
}

.contentlink {

    background: #E1E1E1;
    margin-top: -24px;
    height: 40px;
    opacity: 0.8;
}

.contentlink2 {

    background: #E1E1E1;
    margin-top: -24px;
    height: 40px;
    opacity: 0.8;
}

.contentitemlist {

    background: #E1E1E1;
    margin-top: 18px;
    margin-left: 20px;
    border-radius: 5px;
    height: 960px;
    width: 1000px;
    display: inline-block;
    opacity: 0.8;
}


.contentads {

    background: #E1E1E1;
    margin-top: 20px;
    margin-left: 23px;
    border-radius: 5px;
    height: 960px;
    width: 285px;
    display: inline-block;
    position: absolute;
    top: 654px;
    opacity: 0.8;
}

.dropbtn {
    background-color: black;
    font-family: "Segoe UI Light";
    border-radius: 10px;
    color: white;
    padding: 20px;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

.contentbid {


    margin-top: 1025px;
    margin-left: 70px;
    border-radius: 5px;
    text-align: center;
    width: 250px;
    display: inline-block;
    position: absolute;
    top: 654px;

}

.contentbid2 {


    margin-top: 40px;

    border-radius: 5px;
    height: 960px;
    width: 1380px;
    display: inline-block;
    position: absolute;
    left: -40px;

}

.contentbid4 {


    margin-top: 900px;
    margin-left: 1000px;
    border-radius: 5px;
    height: 960px;
    width: 285px;
    display: inline-block;
    position: absolute;
    top: 654px;

}


.element {
    animation: pulse 5s infinite;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }
    20% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

}

100% {
    opacity: 1;
}

}

.content1 {
    padding: 16px;
    background: #209585;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

.button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button1:hover span {
    padding-right: 25px;
}

.button1:hover span:after {
    opacity: 1;
    right: 0;
}

a {
    color: #FBFBFB;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
    cursor: pointer;

}

.gallery-item {
    float: left;
    width: 100%;
    height: 0;
    padding-bottom: 19%;
    overflow: hidden;

}

.slider-container {
    overflow: hidden;


}

.slide-holder {
    width: 382%;
    position: ;
    animation: scroller 10s infinite;
    animation-direction: alternate;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;


}

@keyframes scroller {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(0);
    }
    30% {
        transform: translateX(-27%);
    }
    40% {
        transform: translateX(-27%);
    }
    60% {
        transform: translateX(-50%);
    }
    70% {
        transform: translateX(-50%);
    }
    90% {
        transform: translateX(-75%);
    }
    100% {
        transform: translateX(-75%);
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 15%;
    width: 100%;
    margin-top: 5px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 10px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {}

.overlay a {
    font-size: 20px
}


.overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
}

.foot-container {
    background: #209585;
    padding: 300px;
    margin: 0;
}

.parallax {
    background-image: url("images/painter.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

}

.topright {
    position: absolute;
    top: 43px;
    left: 1200px;

}

.topright1 {
    position: absolute;
    top: 60px;
    left: 1100px;

}

.topright2 {
    position: absolute;
    top: 67px;
    left: 809px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.imageho {
    opacity: 1;
    transition: .5s ease;

}


.imageho:hover {
    opacity: 0.3;
}

input {
    background-color: transparent;

}



* {
    box-sizing: border-box;
}

/* style the container */

.container {
    position: relative;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px 0 30px 0;
    width: 60%;

}


/* style inputs and link buttons */

input,
.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    /* remove underline from anchors */
}

input:hover,
.btn:hover {
    opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */

.fb {
    background-color: #3B5998;
    color: white;
}

.twitter {
    background-color: #55ACEE;
    color: white;
}

.google {
    background-color: #dd4b39;
    color: white;
}

/* style the submit button */

input[type=submit] {
    background-color: #00acc1;
    color: white;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #00838f;
}

/* Two-column layout */

.col {
    float: left;
    width: 50%;

    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* vertical line */

.vl {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid #ddd;
    height: 175px;
}

/* text inside the vertical line */

.vl-innertext {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 8px 10px;
}

/* hide some text on medium and large screens */

.hide-md-lg {
    display: none;
}

/* bottom container */

.bottom-container {
    text-align: center;
    background-color: #666;
    border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 650px) {
    .col {
        width: 100%;
        margin-top: 0;
    }
    /* hide the vertical line */
    .vl {
        display: none;
    }
    /* show the hidden text on small screens */
    .hide-md-lg {
        display: block;
        text-align: center;
    }
}


.parallax1 {
    /* The image used */
    background-image: url("images/fpa.jpg");

    /* Set a specific height */
    min-height: 1000px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box
}


.mySlides {
    display: none
}


/* Slideshow container */

.slideshow-container2 {
    max-width: 1100px;
    max-height: 200px;
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 20px;

}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

.color-change {
    border-radius: 5px;
    font-size: 20px;
    padding: 14px 80px;
    cursor: pointer;
    color: #fff;
    background-color: #212F3D;
    font-size: 1.5rem;
    font-family: "Segoe UI Light";
    font-weight: 100;
    border: 1px solid #fff;
    box-shadow: 2px 2px 5px #AFE9FF;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}

.color-change:hover {
    color: #25AF89;
    border: 1px solid #006398;
    box-shadow: 2px 2px 20px #AFE9FF;
}

button.color-change {
    -webkit-appearance: none;
    -moz-appearance: none;
}






/* Create a Parallax Effect */

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */

.bgimg-1 {
    background-image: url('/w3images/parallax1.jpg');
    min-height: 100%;
}

/* Second image (Portfolio) */

.bgimg-2 {
    background-image: url("/w3images/parallax2.jpg");
    min-height: 400px;
}

/* Third image (Contact) */

.bgimg-3 {
    background-image: url("/w3images/parallax3.jpg");
    min-height: 400px;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}






.overlay2 {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay2-content {
    position: relative;
    top: 15%;
    width: 100%;
    margin-top: 5px;
}

.overlay2 a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay2 a:hover,
.overlay2 a:focus {
    color: #f1f1f1;
}

.overlay2 .closebtn {
    position: absolute;
    top: 10px;
    right: 45px;
    font-size: 60px;
}

.overlay2 p {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.overlay2 p:hover,
.overlay2 p:focus {
    color: white;
}




/* Add padding to containers */

.containereg {
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */

input[type=text],
input[type=password] {
    width: 50%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus,
input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */

hr {
    border: 1px solid #373636;
    margin-bottom: 25px;
    width: 90%;
}

/* Set a style for the submit button */

.registerbtn {
    background-color: #009688;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    align-content: center;
}

.registerbtn:hover {
    opacity: 1;
}


/* Set a grey background color and center the text of the "sign in" section */

.signin {
    background-color: #f1f1f1;
    text-align: center;
}


.content12 {
    padding: 16px;
    background: #9575cd;
}

.content12:hover {
    padding: 16px;
    background: #4527a0;
    transition: .8s ease;
}

.content123 {
    padding: 16px;
    background: #ffd54f;
}

.content123:hover {
    padding: 16px;
    background: #ffb300;
    transition: .8s ease;
}

.content1234 {
    padding: 16px;
    background: #ff8a65;
    height: 550px;
}

.content1234:hover {
    padding: 16px;
    background: #d84315;
    transition: .8s ease;
}

.content12345 {
    padding: 16px;
    background: #262626;
}

.content12345:hover {
    padding: 16px;
    background: #37474f;
    transition: .8s ease;
}

.content45 {
    padding: 16px;
    background: #FFCA28;
}

.content45:hover {
    padding: 16px;
    background: #c0ca33;
    transition: .8s ease;
}

.content8 {
    background-image: url("images/painter.jpg");

}

.container23 {
    position: relative;
    width: 190px;
    border-radius: 4%;
}

.image23 {
    display: block;
    width: 190px;
    height: auto;
    border-radius: 4%;
    display: inline-block;
}

.overlay34 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1ABC9C;
}

.container23:hover .overlay34 {
    opacity: 1;
    border-radius: 4%;

}

.text {
    color: white;
    font-family: "Segoe UI Light";
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

* {
    box-sizing: border-box;
}

.zoom {
    padding: 50px;
    transition: transform .2s;
    width: 200px;
    height: 250px;
    margin: ;
}

.zoom:hover {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Safari 3-8 */
    transform: scale(2);
}
